extends base

block append content
  div( class="container" )
    div( class="row" )
      div( class="col-lg-12" )
        h1( class="page-header" ) #{message}
    each section in sections
      div( class="row" )
        div( class="col-lg-12" )
          if section.title
            h2 #{section.title}
          div !{section.content}
          if section.sections
            div( class="row" )
              each subsection in section.sections
                div( class=subsection.class )
                  if subsection.title
                    h3 #{subsection.title}
                  div !{subsection.content}